<nav>
    <div class="container">
        <ul class="navbar-nav d-flex align-items-center">
            <li class="nav-item">
                <a class="text-danger" [routerLink]="['home']" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="text-danger" [routerLink]="['login']" routerLinkActive="active">login</a>
            </li>
        </ul>
    </div>
</nav>
<main>
    <div class="container">
        <router-outlet></router-outlet>
        <footer>
            this is the footer
        </footer>
    </div>
</main>
