<div class="container">
    <p>This is an appcomponent {{title | uppercase}}</p>

    <div *ngFor="let movie of movies">
        <div class="movie" *ngIf="(movie.contry == defaultContry) || defaultContry == 'all' ">
            <h2 [ngClass]="{'old text-danger': movie.year < 2019 , 'title': true}">{{movie.title}}</h2>
            <p [ngClass]="{'year': true}">{{movie.year}}</p>
        </div>
    </div>

    <!-- <div class="action">
        <ul class="d-flex flex-row align-items-center p-0 m-0">
            <li class="mr-3 btn btn-outline-primary" [ngClass]="{'active' : defaultContry == 'us'}" (click)="defaultContry = 'us'">[us]</li>
            <li class="btn btn-outline-primary " [ngClass]="{'active' : defaultContry == 'it'}" (click)="defaultContry = 'it'">[it]</li>
        </ul>
    </div> -->

    <div id="filter">
        <select class="form-control" size="1" [(ngModel)]="defaultContry">
        <option value="all">all</option>
        <option value="us">United States</option>
        <option value="it">Italian</option>
      </select>
    </div>
</div>
