<div class="container">
    <div class="row">
        <div class="col-md-3" *ngFor="let movie of movies | async" [hidden]="!((movie.year == defaultYear) || defaultYear == 0)">
            <div class="card my-3  bg-white movie" *ngIf="(movie.year == defaultYear) || defaultYear == 0">
                <div class="card-body">
                    <h2 [ngClass]="{'old text-danger': movie.year < 2010 , 'title': true}">{{movie.title | titlecase }}</h2>
                    <p [ngClass]="{'year': true}">{{movie.year}}</p>
                </div>
            </div>
        </div>
    </div>

    <mat-form-field class="py-5">
        <mat-label>Select By Year</mat-label>
        <mat-select aria-setsize="1" [(ngModel)]="defaultYear">
            <mat-option value="0"> All </mat-option>
            <mat-option *ngFor="let year of years" value="{{year}}">
                {{year}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
