<!-- Modal -->
<div *ngIf="movie" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Movie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editForm">
                    <div class="form-group">
                        <label for="title">Enter Movie title</label>
                        <input type="text" class="form-control" id="title" aria-describedby="Movie" formControlName="title">
                    </div>
                    <div class="row p-0">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="runtime">Enter Movie runtime</label>
                                <input type="number" class="form-control" id="runtime" aria-describedby="Movie" formControlName="runtime">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="releaseDate">Movie Release Year</label>
                                <input type="number" class="form-control" id="releaseDate" aria-describedby="Movie" formControlName="releaseDate">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="resume">Movie Resume</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" formControlName="resume"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" (click)="doUpdate()" data-dismiss="modal">Save changes</button>
                <button type="submit" class="btn btn-danger" (click)="doDelete()" data-dismiss="modal">Delete Movie</button>
            </div>
        </div>
    </div>
</div>
